
.profile {
    margin: auto;
    margin-top: 100px;
}

.iconDiv {
    display: inline-flex;
}

.iconStyle {
    margin: 10px 10px 0 0;
}

.userImage {
    margin: auto;
}

.logOut {
    float: right;
    margin-top: 10px;
}